|<style>
|    g.node {
|        font-size: 12px;
|        font-weight: bold;
|    }
|
|    circle.node-dot {
|        fill: #495057;
|        stroke: rgba(0,0,0,0);
|        stroke-width: 1px;
|    }
|
|    path.link {
|        fill: none;
|        stroke: #ddd;
|    }
|</style>
script(src='/graph.js')
h1 Network Graph
p.text-danger This is an experimental feature. It may appear slightly buggy for the time being.
hr/
#svg(style="width:100%;max-height:100%;min-height:500px")
