|<style>
|    g.node {
|        font-family: Verdana, Helvetica;
|        font-size: 12px;
|        font-weight: bold;
|    }
|
|    circle.node-dot {
|        fill: lightsalmon;
|        stroke: red;
|        stroke-width: 1px;
|    }
|
|    path.link {
|        fill: none;
|        stroke: gray;
|    }
|</style>
script(src='/graph.js')
h1 Network Graph
p.text-danger This is an experimental feature. It may appear slightly buggy for the time being.
hr/
#svg
