|<style>
|
|.link {
|  stroke: #aaa;
|}
|
|.node text {
|stroke:#333;
|cursos:pointer;
|}
|
|.node circle{
|stroke:#fff;
|stroke-width:3px;
|fill:#555;
|}
|
|</style>
script(src='/graph.js')
h1 Network Graph
p.text-danger This is an experimental feature. It may appear slightly buggy for the time being.
hr/
#svg
