.whitelist-row {
  margin-top: 20px;
}

.item-row {
  line-height: 40px;
}
.domain-header, .currency-header, .value-header {
  font-weight: bold;
}

.edit {
  margin-right: 15px;
}

.done button, .done button:hover, .done button:active{
  background: royalblue;
  border-color: royalblue
}
